.form-container {
    display: flex;
    flex-direction: column;
}

.email-action-container {
    margin-top: 0 !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}